
v3.6Tutorial/zh_CN/v3.6教程.aux
v3.6Tutorial/zh_CN/v3.6教程.fdb_latexmk
v3.6Tutorial/zh_CN/v3.6教程.fls
v3.6Tutorial/zh_CN/v3.6教程.log
v3.6Tutorial/zh_CN/v3.6教程.out
*.pdf
v3.6Tutorial/zh_CN/v3.6教程.synctex.gz
v3.6Tutorial/zh_CN/v3.6教程.xdv
